<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Supper!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/meals.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
